
header{
    width: 100%;
    height: 86px;
    background: #EFF0F3;
    box-shadow: 4px 6px 13px 0 rgba(215, 215, 215, 0.25);
    position: fixed;
    top: 0;
}

.container{
    width: 1250px;
    height: 100%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header-logo h2{
    color: #001858;
    font-size: 36px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
}

.header-logo>h2>span{
    color:  #6246EA;
    font-size: 18px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.header-navigation{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 50px;
}

.header-navigation nav>ul{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 50px;
    color:  #2B2C34;
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    text-transform: capitalize;
}

.header-navigation button{
    display: flex;
    padding: 10px 17px;
    align-items: flex-start;
    gap: 10px;
    border-radius: 4px;
    background:  #6246EA;
    color: #FFFFFE;
    font-size: 18px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    text-transform: capitalize;
}
/************************************/
.hero{
    height: 900px;
    background: #EFF0F3;
}

.hero-content{
    display: inline-flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 30px;
}

.hero h1{
    color: #2B2C34;
    font-size: 64px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    text-transform: capitalize;
}

.hero p{
    color:  #9A9494;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    padding-left: 12px;
    border-left: 3px solid #2B2C34;;
}

.hero form{
    display: flex;
    gap: 20px;
}

input[type=email]{
    display: flex;
    padding: 21px 200px 21px 25px;
    align-items: center;
    gap: 10px;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

input[type=email]::placeholder{
    color: #C0C0C0;
}

.hero-button{
    display: flex;
    height: 67px;
    padding: 20px 23px 19px 23px;
    justify-content: center;
    align-items: center;
    gap: 10px;
    border-radius: 8px;
    background: #6246EA;
    color:  #FFFFFE;
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    text-transform: capitalize;
}

.hero-image{
    margin-left: 116px;
}

/***********************************************/

.Browse-the-category {
    height: 500px;
    background: #EFF0F3;
    display: flex;
    justify-content: center;
    align-items: center;
}
.Browse-container{
    width: 1250px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    gap: 50px;
}
.Browse-category{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.Browse-category h3{
    color:  #2B2C34;
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    text-transform: capitalize;
}
.Browse-category>div>a{
    color:  #2B2C34;
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    text-transform: capitalize;
    padding-right: 12px;
}
.flex-card{
    width: 220px;
    height: 280px;
    border-radius: 8px;
    /* For White Background */
    box-shadow: 4px 6px 13px 0 rgba(215, 215, 215, 0.25);
    background:  #FFFFFE;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    gap: 30px;
    padding-left: 30px;
    color: #2B2C34;
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    text-transform: capitalize;
}
.card{
    width: 60px;
    height: 60px;
    border-radius: 7.458px;
    background:  #FFFFFE;
    display: flex;
    justify-content: center;
    align-items: center;
}
.flex-card:hover{
    background:  #6246EA;
    color:  #FFFFFE;
}

/************************************************/
.article-post{
    /*height: 4792px;*/
    display: flex;
    justify-content: center;
    align-items: center;
}
.article-container{
    width: 1250px;
    margin: 80px auto;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 80px;
}

.article-categories{
    width: 100%;
    height: 490px;
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.category{
    display: flex;
    justify-content: space-between;
}

.category h3{
    color:  #2B2C34;
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    text-transform: capitalize;
}

.category>div>a{
    color:  #2B2C34;
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    text-transform: capitalize;
    padding-right: 12px;
}

.card-post{
    width:100%;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
}

.article-post-card{
    width: 300px;
    height: 425px;
    padding: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.article-post-card:hover{
    border-radius: 12px;
    background: #FFFFFE;
    /* For White Background */
    box-shadow: 4px 6px 13px 0 rgba(215, 215, 215, 0.25);
}

.article-card{
    width: 260px;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
}
.img-article{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 25px;
}
.img-article h4{
    color:  #2B2C34;
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    text-transform: capitalize;
}
.img-card{
    width: 260px;
    height: 198px;
    border-radius: 12.599px;
    background:  lightgray 50% / cover no-repeat;
}

.author-post{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.author{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 4px;
}
.author h5{
    color: #2B2C34;
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
}

.author-meta{
    height: 21px;
    width: 184px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.author-meta span{
    color:  #2B2C34;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    text-transform: capitalize;
    text-align: center;
}

.author-meta :nth-child(2){
    font-size: 10px;
}

.article-button{
    display: flex;
    padding: 20px 23px 19px 23px;
    justify-content: center;
    align-items: center;
    gap: 10px;
    border-radius: 8px;
    background:  #6246EA;
    color: #FFFFFE;
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    text-transform: capitalize;
}

